<%- include("partials/head.ejs") %> 
<%- include("partials/header.ejs") %> 
<p>The secret word is: <%= secretWord %></p> 
<p>Would you like to change it?</p> 
<form method="POST">
  <input type="hidden" name="_csrf" value="<%= csrf %>">
  <label name="secretWord"></label> 
  <input name="secretWord" /><br /> 
  <button>Submit</button>
  <a href="/">
    <button type="button">Back</button>
  </a> 
</form> 
<%- include("partials/footer.ejs") %>
